


html, body {
    margin: 0;
    border: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

input,
select {
    width: 200px;
    height: 25px;
    margin: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

#btn_id {

}